.hide {
  display: none;
}

.tablist {
  li {
    width: 100%;
  }
}

.content-wrap{
  padding: 20px 0;
}

.dd-handle-new {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #ccc;
  background: #d5d5d5;
  width: 30px;
  line-height: 30px;
  cursor: pointer;
}

.dd_header-new{
  .col-sm-3,
  .col-sm-1,
  .col-sm-2{
    background: #e5e5e5;
    position: relative;
    label{
      padding: 10px;
      margin-bottom: 0px;
    }
    a{
      position: relative;
      left: 5px;
    }
  }
}

.ui-sortable{
  .form-group{
    &.row{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 20px;
    }
  }
}

.img-container{
  background: #f2f2f2;
  padding: 15px;
  border-radius: 2px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text{
  font-weight: bold;
}
.m-datatable>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell,
.m-datatable>.m-datatable__table>.m-datatable__foot .m-datatable__row>.m-datatable__cell{
  background-color: #e0e0e0;
}

.btn{
  padding-left: 3px;
  padding-right: 7px;
}
.form-control.w-auto{
  width: 100% !important;
}